@import "_normalize.scss";
@import "_variables.scss";
@import "_mixin.scss";

/*	サイト共通部分設定	*/
html {
    font-size: 62.5%;
    width: 100%;
}

body {
	@include fsz(16);
	line-height: 1.6;
	font-family: 'Noto Serif JP', serif;
	font-weight: 400;
	color:$txtColor;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

p {
	margin: 0;
}

figure {
	margin: 0;
}
img {
	vertical-align: bottom;
}

address {
	font-style: normal;
}

ul, dl, dd {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	list-style-type: none;
}

input, textarea {
	outline: none;
}

a {
    color: $txtColor;
	text-decoration: none;
	/*transition: all 0.5s;*/
}

a:hover {
	opacity: 0.7;
}

.l-wrapper * {
    box-sizing: border-box;
}

.l-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.l-header{
    padding: 1em;
    background: $gray;
}

.l-main {
    flex: 2;
    margin: 4em 0;
}

.l-footer{
    padding: 1em;
    background: $gray;
    text-align: center;
}

.headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTtl {
    @include fsz(30);
}

.headerNav {
    display: flex;
    
    &__item {
        & + & {
            margin-left: 1em;
        }
        
        a {
            padding: 0.5em;
            border-radius: 6px;
            background: #fff;
        }
    }
    
}

/*共通設定1カラム*/
.oneColumnContent {
    max-width: 80%;
    margin: 0 auto;
}
/*共通設定1カラム*/


.adminContents {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    
    &__main {
        flex-basis: 80%; 
        max-width: 80%;
        padding: 2%;
        box-sizing: border-box;
    }
    
    &__side {
        flex-basis: 16%;
        max-width: 16%;
        padding: 2%;
        box-sizing: border-box;
        background: $subColor;
        color: $white;
     
        a {
            color: $white;     
        }  
    }
}

.adminSideNav {
    font-weight: bold;
    
    &__item {
        padding: 10% 0;
        
        & + & {
            border-top: 1px solid $white;
        }
    }
}

.adminSideNavLower {
    margin: 4% 0 0 4%;
    
    @include fsz(14);
    font-weight: normal;
}






.sharepostList {
    &__item {
    
        &:first-child {
            border-top: 1px solid $txtColor;
        }
        a {
            position: relative;
            display: block;
            padding: 1em 8% 1em 1em;
            border-bottom: 1px solid $txtColor;
            
            &::after {
                @include ab-tr(50%, 5%);
                content: '';
                display: block;
                width: .5em;
                height: .5em;
                border-top: 1px solid $txtColor;
                border-right: 1px solid $txtColor;
                transform: translateY(-50%) rotate(45deg);
                transition: right 0.5s;
            }
            
            &:hover {
                background: $accentColor;
            }       
            
            &:hover::after {
                @include ab-tr(50%, 3%);
            }
        }
    }  
    
    &__date {
        @include fsz(12);
    }
    
    &__author {
        display: inline-block;
        margin-left: 2em;
        padding: 2px 8px;
        border-radius: 10px;
        background: $subColor;
        color: $white;
        @include fsz(12);
    }
    
    &__ttl {
        margin: 0.5em 0;
    }

}

.sharepostTag {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    
    &__item {
        margin: .5em 1em 0 0;
        padding: 2px 8px;
        border-radius: 10px;
        background: $gray;
        @include fsz(12);
        
    }
}



.sharepostUnit {
    
    &__status {
        display: flex;
        margin-bottom: 2em;    
    }
    
    &__author {
        display: inline-block;
        margin-left: 2em;
        padding: 2px 8px;
        border-radius: 10px;
        background: $subColor;
        color: $white;
    }
    
    &__ttl {
        @include fsz(20);
        padding-bottom: 0.2em;
    }
    
    &__content {
        padding: 2em 0;  
        border-top: 1px solid $txtColor;
        border-bottom: 1px solid $txtColor;    
    }

}


.sharepostUnitTag {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0.5em 0;
    
    &__item {
        margin: .5em 1em 0 0;
        padding: 2px 8px;
        border-radius: 10px;
        background: $gray;

    }
}


.tagCheckList {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    
    &__item {
        margin-right: 1em;
    }
}




.btnEle {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    

    a {
        display: inline-block;
        min-width: 150px;
        padding: 0.5em 1em;
        border-radius: 10px;
        box-shadow: 2px 2px 5px $black;
        background: $accentColor;
        color: $white;
        text-align: center;
        
        & + a,
        & + form {
            margin-left: 2em;
        }
        
        &:hover {
            text-decoration: none;   
        }
    }
    
    & input {
        display: inline-block;
        min-width: 150px;
        padding: 0.5em 1em;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 5px $black;
        background: $accentColor;
        color: $white;
        text-align: center;
        line-height: 1.6;
    }
    
    
    &--single {
        a {
            min-width: 250px;           
        }
    }
    
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.page-item + .page-item {
    margin-left: 1em;
}

.page-item.active .page-link {
    border-color: $accentColor;
    background: $accentColor;
    color: white;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $txtColor;
    min-width: 2em;
    min-height: 2em;
    padding: 4px;
    border-radius: 8px;
    line-height: 1;
    transition: all 0.5s;
}

.page-link:hover {
    border-color: $accentColor;
    background: $accentColor;
    color: white;
}

.currentPages {
    margin-bottom: 2em;
}


.searchSection {
    margin-bottom: 2em;
    padding: 1em 2em;
    border: 1px solid $txtColor;
    
    &__ttl {
        position: relative;
        
        

        
    }
    
    &__input {
      display: none;
    }
    
    &__label {
        position: relative;
        display: block;
        @include fsz(20);
        
        &::before {
            content: '';
            @include ab-tr();
            width: 1em;
            height: 1em;
            border-right: 1px solid $txtColor;
            border-bottom: 1px solid $txtColor;
            transform: rotate(45deg);
            transition: all .5s;
        }
    }
    
    &__detail {
        height: 0;
        opacity: 0;
        transition: all .3s;

        
        & > form {
            padding-top: 1em;
        }
    }
    
    &__input:checked ~ &__detail {
        height: auto;
        opacity: 1;

    }
    
    &__input:checked + &__label {
        &::before {
            transform: translateY(50%) rotate(-135deg);
        }
    }
}    


.searchConditions {
    margin: 2em 0;
    padding: 1em 2em;
    background: $gray;
    
    &__ttl {
        display: inline-block;
        margin-bottom: 0.5em;
        padding: 0.3em 1em;
        border-radius: 12px/50%;
        background: $subColor;
        line-height: 1;
        font-weight: bold;
        color: $white;
    }
    
    &__tagWrap {
        display: flex;
        flex-wrap: nowrap;
     
    }
    
    &__tag {
        flex-basis: 5em;
        margin-top: .5em;
        
    } 
}

.searchConditionsList {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        margin: .5em 1em 0 0;
        padding: 2px 8px;
        border-radius: 10px;
        background: $white;
        font-size: 1.2rem;
    }
}
